<div class="context">
    <div class = "containerBox">
        <div class="parent">
          <div class="Cardd">
    
            <div class="cardRow">
              <div class="farmerDetailBox">
                <p class = "cropName">Crop Name </p>
                <p class  ="farmerName">Farmer Name</p>
              </div>
              <div>
                Price : 3000/kg
                Available:234kg
              </div>
              <div class="quantityBar">
                <input type="text" id="quantity" name="quantity" class="cardInput" placeholder="Enter Quantity">
    
                <button class="quantityButton">+</button>
                <p>1</p>
              <button class = "buyButton">Buy Now</button>
              </div>
    
            </div>
          </div>
          <div class="Cardd">
    
            <div class="cardRow">
              <div class="farmerDetailBox">
                <p class = "cropName">Crop Name </p>
                <p class  ="farmerName">Farmer Name</p>
              </div>
              <div>
                Price : 3000/Q
              </div>
              <div class="quantityBar">
                <input type="text" id="quantity" name="quantity" class="cardInput" placeholder="Enter Quantity">
    
                <button class="quantityButton">+</button>
                <p>1</p>
              <button class = "buyButton">Buy Now</button>
              </div>
    
            </div>
          </div>
          <div class="Cardd">
    
            <div class="cardRow">
              <div class="farmerDetailBox">
                <p class = "cropName">Crop Name </p>
                <p class  ="farmerName">Farmer Name</p>
              </div>
              <div>
                Price : 3000/Q
              </div>
              <div class="quantityBar">
                <input type="text" id="quantity" name="quantity" class="cardInput" placeholder="Enter Quantity">
    
                <button class="quantityButton">+</button>
                <p>1</p>
              <button class = "buyButton">Buy Now</button>
              </div>
    
            </div>
          </div>
        
        
    
    
    
        </div>
    
      </div>
      </div>