<div class="context">
    <div class = "containerBox">
        <div class="parent">
          <div *ngFor="let crop of crops" class="Cardd">
    
            <div class="cardRow">
              <div class="farmerDetailBox">
                <p class = "cropName">{{crop.cropName}}</p>
                <p class  ="farmerName">{{crop.farmerName}}</p>
              </div>
              <div>
                Price : {{crop.cropprice}}/kg
                Available:{{crop.cropqnty}}kg
              </div>
              <div class="quantityBar">
                <input (input)="captureInput($event)" type="number" id="quantity" name="quantity" class="cardInput" placeholder="Enter Quantity">
    
                <button class="quantityButton">+</button>
                <p>1</p>
              <button (click)="addToCart(crop.cropId)" class = "buyButton" >Add to cart</button>
              </div>
    
            </div>
          </div>
          
          
        
        
    
    
    
        </div>
    
      </div>
      </div>