<!-- <section class="vh-100" style="background-color: #eee;">'
  '
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
         <div class = "d-flex flex-row">
          <div class="card mx-5" style="width: 18rem;">
            <img src="https://5.imimg.com/data5/ST/QW/MY-38700875/fresh-wheat-crop.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wheat</h5>
              <p class="card-text">Price : ₹ 2200/QUINTAL</p>
              <a href="#" class="btn btn-primary mx-2">+</a>
              <p class = "mx-3 my-2">1 Q</p>
              <a href="#" class="btn btn-primary mx-2">-</a>

            </div>
          </div>
          <div class="card mx-5" style="width: 18rem;">
            <img src="https://cdn.britannica.com/31/75931-050-FED41F1F/Barley.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Barley</h5>
              <p class="card-text">Price : ₹ 1800/QUINTAL</p>
              <a href="#" class="btn btn-primary mx-2">+</a>
              <p class = "mx-3 my-2">1 Q</p>
              <a href="#" class="btn btn-primary mx-2">-</a>

            </div>
          </div>
          <button type="button" style = "height: 50px;" class="btn btn-primary btn-lg">Add Crop</button>
        </div>
          
        </div>
      </div>
    </div>
  </section> -->
<div class="context">

  <div class="containerBox">
    <div class="parent">
      <div class="formBody">
        <h2 class="addCropHeading">Increase Crop Quantity</h2>
        <input [(ngModel)]="cropName" type="text" id="cropName" name="cropName" class="formInput"
          placeholder="Crop Name">
        <input [(ngModel)]="quantity" type="number" id="cropName" name="cropName" class="formInput"
          placeholder="Crop Quantity">
        <!-- <button (click)="updateCropsIncrease()" class="addCropButton">Increase Crop Quantity</button> -->
        <button (click)="updateCropsDecrease()" class="addCropButton">Decrease Crop Quantity</button>
      </div>
      <div *ngFor="let crop of crops" class="Cardd">

        <div class="cardRow">
          <div class="farmerDetailBox">
            <p class="cropName">{{crop.cropName}} </p>
            <p class="cropqlt">{{crop.cropqlty}}</p>
            <p class="cropqlt">{{crop.cropprice}} rs/kg</p>
          </div>
          <div class="quantityBar">
            <!-- <input [(ngModel)] ="crop.cropqnty" type="text" id="quantity" name="quantity" class="cardInput" placeholder="Enter Quantity">
    
                <button class="quantityButton">+</button>
                <button class="quantityButton">-</button> -->
            <p>available{{crop.cropqnty}} kgs</p>
            <!-- <input [(ngModel)]="quantityTemp" type =text > -->
            <input type="text" (input)="captureInput($event)" placeholder="Enter Value">
            
            <button (click)="updateCropsIncrease(crop.cropName)"> update</button>
            <button (click)="deleteCrop(crop.cropName)" class="buyButton" >Delete</button>
          </div>

        </div>
      </div>






    </div>
    <div class="parentForm">
      <form (ngSubmit)="addCrops()">
        <div class="formBody">
          <h2 class="addCropHeading">Add Crop</h2>
          <input [(ngModel)]="crop.cropName" type="text" id="cropName" name="cropName" class="formInput" placeholder="Crop Name">
          <!-- <input [(ngModel)]="crop.cr" type="text" id="cropImage" name="cropImage" class="formInput" placeholder="Crop Image"> -->
          <input [(ngModel)]="crop.cropqlty" type="text" id="cropQuality" name="cropQuality" class="formInput" placeholder="Crop Quality">
          <input [(ngModel)]="crop.croplocation" type="text" id="cropLocation" name="cropLocation" class="formInput" placeholder="Crop Location">
          <input [(ngModel)]="crop.cropcontact" type="text" id="cropContact" name="cropContact" class="formInput" placeholder="Crop Contact">
          <input [(ngModel)]="crop.cropqnty" type="text" id="cropQuantity" name="cropQuantity" class="formInput" placeholder="Crop Quantity">
          <input [(ngModel)]="crop.cropdesc" type="text" id="cropDescription" name="cropDescription" class="formInput"
            placeholder="Crop Description">
          <input [(ngModel)]="crop.cropprice" type="text" id="cropPrice" name="cropPrice" class="formInput" placeholder="Crop Price">
          <button type="submit" class="addCropButton">Add Crop</button>
        </div>
      </form>

    </div>
    <!-- <div class="formBody">
      <h2 class="addCropHeading">Delete Crop</h2>
      <input [(ngModel)]="cropName" type="text" id="cropName" name="cropName" class="formInput"
        placeholder="Crop Name">
       <input [(ngModel)]="quantity" type="number" id="cropName" name="cropName" class="formInput"
        placeholder="Crop Quantity">
      <button (click)= class="addCropButton">Delete</button>
      
    </div> -->
  </div>

</div>