<div class="background">
    <div class="parentCard">
        <div class="topBox">
            <h2 style="color: #EDF4F2">Your Cart</h2>
            <button class="removeAllButton">
                <p class="removeAllButtontext">Remove All</p>
            </button>
        </div>
        
        <div *ngFor="let crop of crops" class="singleCard">
            <h2>{{crop.cropName}}</h2>
            <h2>{{crop.farmerName}}</h2>
            <h2>{{crop.cropqnty}}</h2>
            <h2>{{crop.cropqlty}}</h2>
            <button class="removeButton">
                <p class="removeButtontext">Remove</p>
            </button>
        </div>


        <div class="divider"></div>
        <div class="bottomBar">
            <div class="totalBox">
                <div class="itemDetails">
                    <h2 style="color:white ; margin:0;">Sub-Total</h2>
                    <h4 style="font-size: 20px; font-weight: 500; color: white">{{crops.length}}</h4>
                </div>
                <h1 class="price">₹{{total}}</h1>
            </div>
            <div>
                <button class="checkoutButton">
                    <h3 class="buttonText">Checkout</h3>
                </button>

            </div>
        </div>

    </div>

</div>
